In [4]:
def hours():
    zoo = ('Open 9-5 daily')
    return zoo
hours()

'Open 9-5 daily'

In [12]:
import zoo

In [16]:
result = zoo.hours()
print(result)

Open daily 9-5

In [4]:
import zoo as menagerie
result = menagerie.hours()

print(result)

Open daily 9-5

In [5]:
import sqlite3
import sqlalchemy as sa

conn = sqlite3.connect('books.db')
curs = conn.cursor()

curs.execute('''CREATE TABLE books (title TEXT PRIMARY KEY, author TEXT, year INT)''')

OperationalError: table books already exists