In [4]:
def hours():
    zoo = ('Open 9-5 daily')
    return zoo
hours()

'Open 9-5 daily'

In [12]:
import zoo

In [16]:
result = zoo.hours()
print(result)

Open daily 9-5

In [4]:
import zoo as menagerie
result = menagerie.hours()

print(result)

Open daily 9-5

In [ ]:
conn = sqlite3.connect('books.db')
curs = conn.cursor()

curs.execute('''CREATE TABLE books (title TEXT PRIMARY KEY, author TEXT, year INT)''')

In [45]:
import csv, sqlite3
import sqlalchemy as sa
from sqlalchemy.ext.declarative import declarative_base

books2 = [ {"title": "The Weirdstone of Brisingamen", "author": "Alan Garner", "year": "1960"},
{"title": "Perdido Street Station", "author" : "China Miéville","year" : "2000"},
{"title": "Thud!", "author": "Terry Pratchett", "year": "2005"},
{"title": "The Spellman Files", "author": "Lisa Lutz", "year": "2007"},
{"title": "Small Gods", "author": "Terry Pratchett", "year": "1992"},]

with open('books2.csv', 'wt') as fout:
    cout = csv.DictWriter(fout, ['title', 'author', 'year'])
    cout.writeheader()
    cout.writerows(books2)
    
with open('books2.csv', 'rt') as fin:
    cin = csv.DictReader(fin)
    books = [row for row in cin]
    
print(books)
    
conn = sa.create_engine('sqlite:///books.db')
curs = conn.cursor()

with open("books2.csv", "r") as file:
    no_records = 0
    for row in file:
        curs.execute("INSERT INTO books VALUES (?,?,?)", row.split(","))
        conn.commit()
        no_records += 1
conn.close()

for row in books:
    print(row)

[{'title': 'The Weirdstone of Brisingamen', 'author': 'Alan Garner', 'year': '1960'}, {'title': 'Perdido Street Station', 'author': 'China Miéville', 'year': '2000'}, {'title': 'Thud!', 'author': 'Terry Pratchett', 'year': '2005'}, {'title': 'The Spellman Files', 'author': 'Lisa Lutz', 'year': '2007'}, {'title': 'Small Gods', 'author': 'Terry Pratchett', 'year': '1992'}]

AttributeError: 'Engine' object has no attribute 'cursor'